<div>
  <app-post-form (postAddedEvent) = "addPost($event)"></app-post-form>
  <h3>Posts list:</h3>
  <app-spinner [visible] = "isLoading"></app-spinner>
  <ul class="list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" 
          [class.active]="currentPost == post"
          (click)="select(post)" >
            <app-post [post] = "post"
       (deleteEvent) = "deletePost($event)" (updateEvent) = "updatePost($event)"></app-post>    
        </li>
  </ul>
</div>